
body, html {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 36px;
}

h4 {
	font-size:14px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-weight: bold;
	text-transform:uppercase;
	font-size:14px;
	letter-spacing:.2em;
}

a {
	text-decoration: none !important;
	color: #3498db !important;
	font-weight: bolder;
}
a:hover {
	color:gray !important;
	text-decoration: none !important;
}

#name {
	margin-top:100px;
}

.center-row {
	text-align: center;
}

.icon-row {
	margin-top:0px;
  margin-bottom:10px;
}

.button {
	margin-left:5px;
	margin-right:5px;
	font-size:20px !important;
}

#github-link:hover {
	opacity: 0.4;
}

#email-link:hover {
  opacity:0.4;
}

#medium-link:hover {
	opacity: 0.4;
}

.padding-vertical {
  margin-top:50px;
  margin-bottom:50px;
}
